<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= pianist.name %>'s Details</h1>
    <p>Country: <%= pianist.country %></p>
    <p>ID: <%= pianist._id %></p>
    <a href="/pianists"><button>Back</button></a>
    <form
      action="/pianists/<%= pianist._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button>Delete</button>
    </form>
    <button onClick="showDialog()">Edit</button>
    <dialog id="editwindow">
      <form
        action="/pianists/<%= pianist._id %>?_method=PUT"
        method="post"
        style="display: inline"
      >
        <label for="name">Pianist Name : </label>
        <input type="text" name="name" placeholder="<%= pianist.name%>" />
        <br />
        <label for="country">Country of Birth : </label>
        <input type="text" name="country" placeholder="<%= pianist.country%>" />
        <br />
        <button>Submit</button>
      </form>
      <button onClick="closeDialog()">Close</button>
    </dialog>
    <script>
      const dialog = document.getElementById("editwindow");

      function showDialog() {
        dialog.show();
      }

      function closeDialog() {
        dialog.close();
      }
    </script>
  </body>
</html>
