<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Pianists</h1>
    <ul>
      <% pianists.forEach(pianists => { %>
      <li>
        name: <%= pianists.name%>, country: <%= pianists.country %>
        <a href="/pianists/<%= pianists._id %>"><button>View</button></a>
        <form
          action="/pianists/<%= pianists._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button>Delete</button>
        </form>
        <button onClick="showDialog(`editwindow<%= pianists._id%>`)">
          Edit
        </button>
        <dialog id="editwindow<%= pianists._id%>">
          <form
            action="/pianists/<%= pianists._id %>?_method=PUT"
            method="post"
            style="display: inline"
          >
            <label for="name">Pianist Name : </label>
            <input type="text" name="name" placeholder="<%= pianists.name%>" />
            <br />
            <label for="country">Country of Birth : </label>
            <input
              type="text"
              name="country"
              placeholder="<%= pianists.country%>"
            />
            <br />
            <button>Submit</button>
          </form>
          <button onClick="closeDialog(`editwindow<%= pianists._id%>`)">
            Close
          </button>
        </dialog>
      </li>
      <% }) %>
    </ul>
    <a href="/pianists/new"><button>Create</button></a>

    <script>
      function showDialog(id) {
        const dialog = document.getElementById(id);
        dialog.showModal();
      }

      function closeDialog(id) {
        const dialog = document.getElementById(id);
        dialog.close();
      }
    </script>
  </body>
</html>
